$shade: #232323;
$disabled: #efefef;

.livePreview {
  background: $disabled;
  border-radius: 2px;
  box-shadow: 0 0 25px $shade;
  color: #222;
  display: flex;
  flex: 1 50vh;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  padding: 1em;
}

.directionsList,
.ingredientsList {
  list-style: none;
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  padding: 2px 6px;
  margin-left: 3em;

  li {
    flex: 1 2em;
    padding: 0.2em;
    box-size: border-box;

  }

}

.directionsList {

  li {
    align-self: flex-start;
  }
}

.name {
  margin-top: 0;
  align-self: center;
  position: relative;
  top: -10em;
  left: -8em;
}

.ingredientsList {

  li {
    font-size: 1em;
    line-height: 1.25em;
  }
}


.img {
  width: 150px;
  height: 150px;
  order: -1;
  border-radius: 50%;
  box-shadow: 0 0 15px $shade;
  align-self: flex-start;
  padding: 0.5em;
  border-radius: 5px;
  padding-bottom: 1.75em;
  /* padding-right: 0.75em; */
  top: -50px;
  position: relative;
  background: white;
  transform: rotate(-13deg);
  /* transform: rotateY(10deg) rotateZ(-13deg); */
  transform: rotate3d(-13deg,0,5deg);
}


