$primary-bg: #E4DED1;
$whiter-bg: #fff;
$separator: #9CC268;
$line-a: #E6F7FF;
$line-b: #E6FFF2;
$recipe-link: #CE06CE;

@keyframes tilt {
  0% {
    transform: rotate(7deg);
  }

  25% {
    transform: rotate(0deg);
  }
}

.recipeList {
  align-items: center;
  background: $primary-bg;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 1em;
}

.recipeItem {
  background: $whiter-bg;
  border-bottom: 1px solid $separator;
  overflow: hidden;
  padding: .7em 0;
  text-align: center;
  width: 75%;

  &:nth-child(odd) {
    background: $line-a;
  }

  &:nth-child(even) {
    background: $line-b;
  }

  &:first-child {
    border-radius: 15px 15px 0 0;
  }

  &:last-child {
    border: 0;
    border-radius: 0 0 15px 15px;
  }


  .title,
  h4 {
    color: $recipe-link;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px * 1.5;
    transition: .4s ease-in;

    &:hover {
      color: darken($recipe-link, 13%);
      animation: tilt 3.5s .1s 1;
    }
  }

  .visible,
  .hidden {
    overflow-y: hidden;
    transition: .5s ease-in;
  }

  .visible {
    height: 5em;
    margin: 1em auto;
  }

  .hidden {
    height: 0;
    margin: 0;
    padding: 0;
  }
}