@import "~normalize.css";

$primary-color: #F4FFBD;
$primary-bg: #E4DED1;
$text: #005869;

body {
  font-family: 'Roboto', sans-serif;
}
@keyframes pulse {
  0% { text-shadow: 8px 3px 13px darken($primary-color, 80%); }
  50% { text-shadow: -3px 1px 8px darken($primary-color, 40%); }
  100% { text-shadow: 8px 3px 13px darken($primary-color, 80%); }
}
.header {
  margin: 0;
  text-align: center;
  background-color: $primary-color;

  h1 {
    color: $text;
    font-family: 'Allura', cursive;
    font-size: 7em;
    font-weight: normal;
    animation: pulse 5s infinite;
    letter-spacing: 3px;
    margin: 0;

    @media screen and (max-width: 699px) {
      font-size: 5em;
      padding-bottom: 0.5em;
    }
  }
}

.container {
  display: block;
}
