@import '~../scss/variables';

body {
  font-family: 'Roboto', sans-serif;
}

.body {
  margin-top: 4rem; // bring app down from the fixedNavBar

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }

  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }

  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  }

  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    margin-top: 6rem;

  }

  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }

  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}


.container {
  display: block;
}
