@import '~../../scss/variables';


.recipeForm {
  align-items: stretch;
  display: flex;
  flex: 1 50vh;
  flex-direction: column;
  margin-right: 10px;
  align-self: flex-start;
  padding: 1em;

  .inputField {
    display: flex;
    align-items: baseline;
  }
}

.input {
  font-size: $ms-1;

  input,
  label {
    font-size: inherit;
  }

}

.datePicker {
  div[data-react-toolbox="month"] {
    margin-top: 2rem;
  }

  button[data-react-toolbox="button"] {
    font-size: $ms-0;
  }
}


.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  .submit {
    flex: 2 100%;
  }

  .clear {
    flex: 2 100%;
  }
}


.textarea {
  textarea {
    color: #513D1F !important;
  }
}