$primary-bg: #D8D8D8;
.recipeInput {
  flex: 1 100%;
  width: 50%;
}

.livePreview {
  flex: 1 100%;
  background: #ddd;
  color: #222;
  border-radius: 5px;

}

.wrapper {
  display: flex;
}

.directionsList {
  list-style: lower-roman;
  padding: 1em 3em;
  li {
    margin: 0.5em;
  }
}

.ingredientsList {
  list-style: upper-roman;
  padding: 1em 3em;
  li {
    margin: 0.5em;
    font-size: 1em;
    line-height: 1.25em;
  }
}


