$primary-bg: #E4DED1;
.container {
  display: flex;
  flex-direction: row no-wrap;
  align-items: stretch;
  background: $primary-bg;
  width: 100%;
  margin: auto;
  height: 20vh;
}


.app {
  margin: auto;
}