$primary-button: #C3E369;
$shade: #232323;
$text: #513D1F;


.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-button;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 10px $shade;
  box-sizing: border-box;
  color: $text;
  flex: 1 100%;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 28px;
  margin: auto;
  padding: 0.5em;
  transition: .7s ease;
  width: 100%;

  @media screen and (max-width: 699px) {
    width: 100%;
  }
  &:hover {
    background: darken($primary-button, 10%);
    border-radius: 8px;
    box-shadow: 0 0 2px $shade;
    color: darken($text, 5%);
    letter-spacing: 3px;
  }

  &[disabled] {
    background: #afa52a;
    color: #333
  }

  .icon {
    margin-left: 0.5em;
    padding: 0;
    font-size: 1.5em;
  }
}
