$primary-bg: #E4DED1;
.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  background: $primary-bg;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;

  @media screen and (max-width: 699px) {
    flex-flow: column;
    height: auto;
    padding: 0;
  }
}
